
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'app0/img/icon.png' %}" />
    <title>SmartParking</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
    <link rel="stylesheet" href="{% static 'app0/css/bootstrap.min.css' %}">   

    <link rel="stylesheet" href="{% static 'app0/fontawesome/css/fontawesome-all.min.css' %}">     
    
    
    <link rel="stylesheet" type="text/css"  href="{% static 'app0/slick/slick.css' %}"/>
    
    <link rel="stylesheet" type="text/css"  href="{% static 'app0/slick/slick-theme.css' %}"/>






    <link rel="stylesheet"  href="{% static 'app0/css/tooplate-style.css' %}"> 



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>
    
    <link  href="{% static 'app0/font-awesome/css/font-awesome2.css' %}" rel="stylesheet" />

</head>

