<!DOCTYPE html>
<html lang="en">
    {% include 'app0/head.html' %} 
<body>

    
{% if user.is_authenticated %}
<p class="welcome"> Welcome, {{ user.get_username }}. Thanks for logging in.</p>
{% else %}
<p class="welcome">Welcome, new user. Please log in.</p>
{% endif %}


<li class="nav-item text-white">
    {% if request.user.is_authenticated %}
       <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
    {% endif %}
</li>


    <div class="grid__item" id="home-link">
        {% include 'app0/message.html' %} 
    </div>

    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                        <div class="tm-site-header">
                            <h1 class="mb-4">Smart Parking</h1>
                            <img src="../static/app0/img/underline.png" class="img-fluid mb-4">
                            <p> </p>        
                        </div>                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="content">
                            <div class="grid">
                               <!--  -->
                                <div class="grid__item" id="home-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-home fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">List</span>
                                            <div class="product__bg"></div>   
                                        </div>  
                                         <div class="product__description">
                                            {% include 'app0/list.html' %}    
                                         </div> 
                                    </div>
                                </div>
                        <!--  -->
                                <div class="grid__item" id="home-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fa fa-plus fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Add</span>
                                            <div class="product__bg"></div>   
                                        </div>  
                                         <div class="product__description">
                                            {% include 'app0/add.html' %} 
                                         </div> 
                                    </div>
                                    </a>  
                                </div>
                         <!--  -->
                         <div class="grid__item" id="home-link">
                            <div class="product">
                                <div class="tm-nav-link">
                                    <i class="fas fa-handshake fa-3x tm-nav-icon"></i>
                                    <span class="tm-nav-text">Work</span>
                                    <div class="product__bg"></div>   
                                </div>  
                                 <div class="product__description">
                                    {% include 'app0/work.html' %} 
                                 </div> 
                            </div>
                            
                          </div>
                                <!-- -------------- -->
                                <div class="grid__item" id="home-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-comments fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Contact</span>
                                            <div class="product__bg"></div>   
                                        </div>  
                                        <div class="product__description">
                                        {% include 'app0/contact.html' %} 
                                        </div> 
                                    </div>  
                                </div>
                                <!--*****************  -->
                            </div> 
                        </div>                       
                    </div>
                </div>                
            </div>
            <!-- ********** -->
            <footer>
                <p class="small tm-copyright-text">Copyright &copy; <span class="tm-current-year">2018</span> Molka&Iheb
                
                    </p>
            </footer>
            <!-- *************** -->
        </div> 
    </div>
    <!-- load JS -->
    <script src="../static/app0/js/jquery-3.2.1.slim.min.js"></script>      
    <script src="../static/app0/slick/slick.min.js"></script>                  
    <script src="../static/app0/js/anime.min.js"></script>                     
    <script src="../static/app0/js/main.js"></script>  
    <script>      
        function setupFooter() {
            var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

            var main = $('.tm-main-content');

            if($(window).height() < pageHeight) {
                main.addClass('tm-footer-relative');
            }
            else {
                main.removeClass('tm-footer-relative');   
            }
        }
        /* DOM is ready
        ------------------------------------------------*/
        $(function(){

            setupFooter();

            $(window).resize(function(){
                setupFooter();
            });

            $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright           
        });

    </script>             

</body>
</html>